<!DOCTYPE html>
<!-- Project NewTube: Made by Alee and licensed with GPL-3.0 -->
<html>

<head>
    <% include ./includes/header %>
</head>

<body class="dark">
<% include ./includes/navbar %>
<div class="container">
    <h1>Hello World!</h1>
</div>
<% include ./includes/footer %>
</body>

</html>